name: Java Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  Grußformel: Herr

jobs:
  build-test:
    runs-on: ubuntu-latest
    needs: console-output
  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
  
      - name: Build and Test with Maven
        run: mvn -B clean verify
        
      - name: Archive Test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: target/surefire-reports/

  linter-job:
    strategy:
      matrix:
        JDK-v: [11, 17]
        
    runs-on: ubuntu-latest
    needs: console-output

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.JDK-v }}
        
      - name: Maven Checkstyle
        run: mvn checkstyle:checkstyle
    
      - name: Archive checkstyle result
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-result
          path: target/checkstyle-result.xml
  
  console-output:
    runs-on: ubuntu-latest

    env:
      Nutzername: Philip

    steps:
      - name: Console output
        env:
          Passwortnutzen: Steam 
        run: echo $Grußformel $Nutzername, das Passwort für $Passwortnutzen ist ${{ secrets.PASSWORT }}!
  
  
  
    
